<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMovieAdmin" />
                <binding name="BasicHttpsBinding_IMovieAdmin">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://movieadminservice20240514151235.azurewebsites.net/MovieAdmin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovieAdmin"
                contract="MovieAdminServiceReference.IMovieAdmin" name="BasicHttpBinding_IMovieAdmin" />
            <endpoint address="https://movieadminservice20240514151235.azurewebsites.net/MovieAdmin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMovieAdmin"
                contract="MovieAdminServiceReference.IMovieAdmin" name="BasicHttpsBinding_IMovieAdmin" />
        </client>
    </system.serviceModel>
</configuration>