<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IStudentAdmin">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_ICourseAdmin">
                    <security mode="Transport" />
                </binding>
                
                <binding name="BasicHttpsBinding_IStudentEnrolment">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://assessment0120240604150548.azurewebsites.net/Services/StudentAdmin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IStudentAdmin"
                contract="StudentServiceReference.IStudentAdmin" name="BasicHttpsBinding_IStudentAdmin" />
            <endpoint address="https://assessment0120240604150548.azurewebsites.net/Services/CourseAdmin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICourseAdmin"
                contract="CourseServiceReference.ICourseAdmin" name="BasicHttpsBinding_ICourseAdmin" />
            
            <endpoint address="https://assessment0120240604150548.azurewebsites.net/Services/StudentEnrolment.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IStudentEnrolment"
                contract="EnrolmentServiceReference.IStudentEnrolment" name="BasicHttpsBinding_IStudentEnrolment" />
        </client>
    </system.serviceModel>
</configuration>