<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMortgageCalculator" />
                <binding name="BasicHttpsBinding_IMortgageCalculator">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mortgagecalculatorwcfservice20240507144518.azurewebsites.net/MortgageCalculator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMortgageCalculator"
                contract="MortgageServiceReference.IMortgageCalculator" name="BasicHttpBinding_IMortgageCalculator" />
            <endpoint address="https://mortgagecalculatorwcfservice20240507144518.azurewebsites.net/MortgageCalculator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMortgageCalculator"
                contract="MortgageServiceReference.IMortgageCalculator" name="BasicHttpsBinding_IMortgageCalculator" />
        </client>
    </system.serviceModel>
</configuration>